/* 
=============
  Main 
=============
*/

.main {
  padding: 2rem;
}

.section-title {
  color: #ff9a8d;
  text-align: center;
  margin-bottom: 1rem;
}

.about-text {
  margin: 0 auto 0.75rem;
  width: 100%;
  max-width: 1000px;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section figure img {
  margin-bottom: 1rem;
  width: 95%;
  max-width: 575px;
}

/* 
  =============
    Projects
  =============
*/

.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.article-title {
  color: #ff9a8d;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 2px solid black;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem;
  height: 125px;
}

.article p {
  margin-bottom: 3px;
}

@media screen and (max-width: 1100px) {
  .grid-projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .grid-projects {
    grid-template-columns: 1fr;
  }
}

/* 
  ==================
    Certifications
  ==================
*/

.specific-certifications {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

details {
  border: 2px #aed6dc solid;
  border-radius: 0.5rem;
  color: white;
  width: 250px;

  margin-bottom: 1rem;
}

details > summary::marker {
  color: #ff9a8d;
}

details[open] {
  width: 85%;
  max-width: 500px;
  height: auto;
}

details > summary {
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
}

details[open] > summary {
  border-bottom: 2px #aed6dc solid;
}

details[open] > p {
  width: inherit;
  height: auot;
  padding: 0.5rem;
  text-align: center;
}