* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #4a536b;
  font-family: Ar, sans-serif;
  font-size: 18px;
}

p {
  color: white;
}

.title {
  color: #ff9a8d;
}

a {
  color: #aed6dc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 
=============
  Header 
=============
*/

.header {
  box-shadow: 0 2px 4px black;
  text-align: center;
  padding: 1rem;
}

.header .title {
  font-size: 1.25rem;
}

.header .title span {
  color: #aed6dc;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .header .title span {
    display: none;
  }
}

/* 
=============
  Footer
=============
*/

.foot {
  padding: 2rem;
}

.foot-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;

  width: 75%;
}

.foot p {
  height: auto;
  font-weight: bold;
}

.foot-section {
  height: auto;
}

.contact-title {
  margin-bottom: 15px;
  font-weight: bold;
}

.foot-links {
  color: #aed6dc;
  text-decoration: none;
}

.foot-links:hover {
  text-decoration: underline;
}

.foot-links:nth-child(even) {
  margin: 0 10px;
}

@media screen and (max-width: 650px) {
  .foot-container {
    flex-direction: column;
    align-items: center;
  }

  .foot p {
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .contact-links {
    display: flex;
    justify-content: space-evenly;
  }

  .contact-title {
    display: none;
  }
}

@media screen and (max-width: 515px) {
  .copyright,
  #year {
    display: none;
  }
}
