:root {
  --blue-color: #aed6dc;
  --pink-color: #ff9a8d;
  --white-color: #eee;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #4a536b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;

  margin: 0;
  padding: 0;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.header {
  border-top: 5px solid var(--white-color);
}

.title {
  font-size: 42px;
  color: var(--blue-color);
}

.title span {
  color: var(--pink-color);
}

.title-description {
  font-size: 26px;
  color: var(--white-color);
}

button {
  background-color: #4a536b;
  border-image: linear-gradient(45deg, var(--blue-color), #64929f) 1 / 3px;

  color: var(--white-color);
  
  padding: 10px;
  cursor: pointer;
}

button:hover {
  border-image: linear-gradient(200deg, var(--blue-color), #496a72) 1 / 3px;
}

/* div {
  display: inline-block;
  background: linear-gradient(45deg, var(--blue-color), #648891);
  padding: 5px;
}

div:hover {
  background: linear-gradient(275deg, var(--blue-color), var(--pink-color));
  transition: all 5s;
} */