/* My color scheme Dark Blue, Turquoise, Beige */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 2em;
    overflow: hidden;
}

.design-top-left {
    background-color: turquoise;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    z-index: -10px;
    left: -60px;
    top: -90px;
    width: 200px;
    height: 200px;
}

.design-top-right {
    background-color: turquoise;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    z-index: -10px;
    right: -60px;
    top: -90px;
    width: 200px;
    height: 200px;
}

/* .back-button {
    background: lightgray;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    border: 1px solid black;
}
.back-button:focus {border: 3px solid black;}
.back-button:active, .back-button:visited {color: black;} */

.links {
    padding: 10px; 
    text-align: center;
}

.links a {
    text-decoration: none; 
    color: rgba(0, 0, 0, 0.80);
}

.links a:hover {
    text-decoration: underline;
}

.form-wrapper { 
    display: flex;
    width: 100%;
    justify-content: center;
}

.labels input {
    margin-right: 20px;
    border: 2px solid black;
}
.label input:last-child {margin-right: none;}

input, textarea {
    border-radius: 8px;
    padding: 3px;
}

textarea {
    border: 3px solid black;
}

input:focus, textarea:focus {
    outline: none;
}

div #msg {
    resize: none;
}

button {
    background-color: lightgray;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.back-and-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design-bottom-left {
    background-color: darkblue;
    display: inline-block;
    width: 800px;
    height: 800px;
    position: absolute;
    z-index: 10;
    bottom: -600px;
    left: -300px;
    transform: rotate(25deg);
}

.design-bottom-right {
    background-color: darkblue;
    display: inline-block;
    width: 800px;
    height: 800px;
    position: absolute;
    z-index: 10;
    bottom: -600px;
    right: -300px;
    transform: rotate(-25deg);
}