* {
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2 {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 0.125em;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;

    padding: 1em;
}

header h1 {
    width: 40%;
}

header nav {
    width: 50%;
    align-self: center;
}

header nav a:not(:last-child) {
    margin-right: 10px;
}

/* Main */

main {
    margin: 15px 0;
    padding: 15px;
}

main #About {
    display: flex;
    flex-direction: row;
    
    margin-bottom: 25px;
    height: 600px;
    width: 100%;
}

main #About figure {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    overflow: hidden;
    flex: 1 1 40%;
}

main #About figure img {
    height: 100%;
}

main #About div {
    padding: 10px;
    flex: 1 1 60%;
}

main #About div h2 {
    margin: 15px 0;
}

main #About div p {
    font-size: 1.125rem;
    text-indent: 0.75rem;
    text-align: justify;
    letter-spacing: 0.075em;
    word-spacing: -0.035em;
}

main #Projects {
    height: 350px;
}

main #Projects article {
    text-align: center;
    margin-bottom: 25px;
}

footer {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;

    padding: 15px;
}

footer p {
    width: 40%;
    height: auto;
    font-weight: bold;
}

footer section {
    width: 60%;
    height: auto;
}

footer section h4 {
    margin-bottom: 15px;
    font-weight: bold;
}

footer .contact-links a {
    text-decoration: none;
}

footer .contact-links a:hover {
    text-decoration: underline;
}

footer .contact-links a:nth-child(even) {
    margin: 0 10px;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .contact-links {
        display: flex;
        justify-content: space-evenly;
    }

    footer h4 {
        display: none;
    }
}