@media only screen and (min-width: 600px) {
    main .skills-container {
        background-color: blue;
        color: black;
        position: relative;
        margin-bottom: 10px;
        height: 220px;
    }
    
    main .skills-container .skills {
        display: flex;
        padding: 10px;
        justify-content: space-around;
    }
    
    main .skills-container .skills .skill {
        background-color: steelblue;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }
    
    main .skills-container .skills .skill .adjust {
        position: absolute;
        bottom: 12px;
    }
    
    main .skills-container .skills .gone {
        display: none;
    }
}

/* My color scheme Dark Blue, Turquoise, Beige */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

body {
    background-color: snow;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

main {
    font-size: 20px;
    padding: 10px;
}

/* Description */

main .description-container {
    margin-bottom: 10px;
}

main .description-container .description {
    font-size: 22px;
    min-width: 100px;
}

/* Skills */

main .skills-container {
    background-color: blue;
    color: black;
    position: relative;
    margin-bottom: 10px;
    height: 220px;
}

main .skills-container .skills {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

main .skills-container .skills .skill {
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

main .skills-container .skills .skill .adjust {
    position: absolute;
    bottom: 12px;
}

main .skills-container .skills .gone {
    display: none;
}

/* Projects */

.title {
    text-align: center;
    border-bottom: 4px solid black;
    margin-bottom: 10px;
}

main .projects-container .projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

main .projects-container .projects .project-box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 300px;
    width: 15%;
    border-radius: 10px;
    box-shadow: 5px 3px 10px black;
}

main .projects-container .projects .activate {
    transform: scale(1.1);
}

main .projects-container .projects .project-box h2 {
    background-color: black;
    padding: 10px;
    color: white;
}

main .projects-container .projects .project-box:nth-child(1),
main .projects-container .projects .project-box:nth-child(2),
main .projects-container .projects .project-box:nth-child(3) {
    background-size: cover;
}

main .projects-container .projects .project-box:nth-child(1) {
    background-image: url('./img/code.jpg');
}

main .projects-container .projects .project-box:nth-child(2) {
    background-image: url('./img/computer.jpg');
}

main .projects-container .projects .project-box:nth-child(3) {
    background-image: url('./img/college.jpg');
}

/* Footer */

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

footer p {
    display: inline;
    font-size: 22px;
}

footer a, footer a:visited {
    color: purple;
}